.blog-about-sidebar {
  @include media-breakpoint-up(lg) {
    // position: fixed;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
  }

  .blog-icon {
    display: block;
    fill: $gray-light;

    &:hover {
      fill: $primary;
    }
  }
}

.blog-about {

  .blog-icon {
    display: block;
    fill: $brand-primary;
    max-width: 8rem;
    margin: 4rem auto;
  }
}

.blog-main {
  margin-top: 100px;
}

.blog-title {
  a, a:hover {
    color: $black;
    text-decoration: none;
  }
}

.blog-post {
  margin-bottom: 64px;
}

.blog-post-title {

  a, a:hover {
    color: $brand-primary;
  }
}

.blog-post-meta {
  color: $gray-light;
}